{{ define "head" }}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawmany);

      function drawChart(date) {

        var jsonData = $.ajax({
            url: "/dailydata/" + date,
            dataType: "json",
            async: false
            }).responseText;

        var data = new google.visualization.arrayToDataTable(JSON.parse(jsonData));

      var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
      var colorList = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477"];
      var t = new Date();
      t.setTime(date);
      var options = {
      title: days[t.getDay()],
      colors: [colorList[t.getDay()]],
          hAxis: { textPosition: 'none' },
          vAxis: { viewWindow: { max: 60, min: 0} },
          axes: {
            x: {
              0: { side: 'bottom', label: ""}
            }
          },
          legend: { position: 'none' },
        };

        var chart = new google.charts.Bar(document.getElementById(date));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
      function drawpage(date, n) {
        var div = document.createElement('div');
        div.id = date;
        var plotarea = document.getElementById('plotarea');
        plotarea.append(div);
        plotarea.append(document.createElement('br'));
        setTimeout(function() {
          drawChart(date);
          if (n > 0) { drawpage(date+86400000, n-1) };
        },0);
      };

      function drawmany() {
        var today = new Date();
        var day = today.getDay() || 7;
        if ( day !== 1) today.setHours(-24 * (day - 1))
        var date = today.getTime();
        
        drawpage(date, 6);
      };

    </script>
{{ end }}


{{ define "content" }}
<div class="im" id="plotarea" style="width: 450px; height: 200px;"></div>
{{ end }}
