{{ define "head" }}
<script>
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawmany);

      function graphdata(date,days) {
      }

      function drawChart(chart, date, days) {
        var options = {
          chartArea: { width: "100%", height: "100%" },
          legend: {maxLines: 8},
        };

      if (days < 8) {
 		 // setInterval(function(){drawChart(chart, date, d+1)}, 10);
		 // maybe loop updating the data and draw the
		 // chart every 100 ms until it's done?
		var jdata = $.ajax({
		 url: "/weeklydata/" + date + "/" + days,
		 dataType: "json",
		 async: false
		}).responseText;
		var d = new google.visualization.arrayToDataTable(JSON.parse(jdata));
	        chart.draw(d, options);
		setTimeout(function() {drawChart(chart, date, days+1)}, 0);
        };
      };

      function drawpage(date) {
        var div = document.createElement('div');
        div.id = date;
        div.class = "im";
        var plotarea = document.getElementById('plotarea');
        plotarea.append(div)
        var chart = new google.charts.Line(document.getElementById(date));
        drawChart(chart,date,1);
      };

      function drawmany() {
        var date = new Date().getTime();
        drawpage(date);
        document.getElementById('origin').addEventListener('change', drawmany);
        document.getElementById('destination').addEventListener('change', drawmany);
      };
</script>
{{ end }}
{{ define "content" }}
    <div class="im" id="plotarea" style="width: 450px;"></div>
{{ end }}
    
