{{ define "content" }}
<style type="text/css">
.slow {
    font-weight: bold;
    color: red;
}
</style>

<h2>Driving Traffic Info</h2>
{{ .Dir.Summary }}
<br>
Distance {{ .Distance.HumanReadable }}
<br>
Duration {{ .Duration }}, in traffic {{ .DurationInTraffic }}
<br>
Start: {{ .Leg.StartAddress }}
<br>
End: {{ .Leg.EndAddress }}
<h2>Details by Steps</h2>
<table>
  <tr><th>Dist</th><th>Time</th><th>Directions</th></tr>
{{ range $k, $v := .Steps }}
  <tr>
<td>{{ $v.Dist }}</td><td>{{ $v.Duration }}</td>
<td>{{ $v.Directions }}</td>
</tr>

{{ end }}
</table>

{{ end }}

